:root {
  --color-primary: #92d2ed;
  --color-main-blog: #92d2ed;
  --color-text-blog: #183029;
  --color-white: #ffffff;
  --color-primary-button: #92d2ed;
  --color-primary-text: #8ed7f5;
  --color-secondary-text: #c9dee4;
}
